results/*
.idea/*
.idea/
.idea/*.xml
venv/*
data-input/*
models/*
*.pyc
.git/*
.__pycache__/*
speechToText/speech.cfg
EntityLinker/Data/ALFRED/*
EntityLinker/Spacy_model/*
EntityLinker/.ipynb_checkpoints/*